<!DOCTYPE html>
<html lang="zh-CN">
<head>
	
	<title>确认信息</title>
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />
	<meta charset="utf-8">
	
	<link rel="stylesheet" href="http://cdn.bootcss.com/bootstrap/3.3.5/css/bootstrap.min.css">
	
	<link rel="stylesheet" href="http://cdn.bootcss.com/font-awesome/3.0.2/css/font-awesome.css">

	<link rel="stylesheet" href="/static/css/goods-wrap.css">
	<link rel="stylesheet" href="/static/css/home.css">
	<link rel="stylesheet" href="/static/css/cart.css"> 
	<link rel="stylesheet" href="/static/css/order.css"> 
	
	
	<script src="http://cdn.bootcss.com/jquery/1.11.3/jquery.min.js"></script>
	
	<script src="http://cdn.bootcss.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
	<script src="http://cdn.bootcss.com/dot/1.0.3/doT.min.js"></script> 
</head>
<body class="background">
	<!-- 地址部分 -->
	<div id="order-address-info"></div>
	<script id="order-address-info-tmpl" type="text/x-dot-template">
		<!-- 收货人信息 未填写-->
		<div class="container-outter foreground" style="{%? it["Id"] > 0%}display:none;{%?%}margin-top: 2px;">
			<div class="inner" style="border-top: 3px #decf5b double;border-bottom: 3px #decf5b double;padding-top: 0px;">
				<div class="address-info" style="padding: 0px 8px;border-top: 3px #decf5b dashed;border-bottom: 3px #decf5b dashed;">
					<div class="container-inner" style="text-align: left;padding-bottom: 6px;">
						<label style="width: auto;margin: 0px 10px 0px 0px;">
							收货人
						</label>
						<input type="text" name="true_name" placeholder="{%= it["TrueName"] %}"/>
					</div>
					<div class="container-inner" style="text-align: left;padding-bottom: 6px;">
						<label style="width: auto;margin: 0px 10px 0px 0px;">
							手机号
						</label>
						<input type="tel" name="mobile" placeholder="请填写您的收货电话" >
					</div>
					<div class="container-inner" style="text-align: left;padding-bottom: 6px;">
						<label style="width: auto;margin: 0px 10px 0px 0px;">
							位置
						</label>
						<input name="live_area" placeholder="{%= it["LiveArea"] %}">
					</div>
					<div class="container-inner" style="text-align: left;padding-bottom: 6px;">
						<label style="width: auto;margin: 0px 10px 0px 0px;">
							地址
						</label>
						<input name="address" placeholder="{%= it["Address"] %}">
					</div>
				</div>
			</div>
		</div>
		<!-- 收货人信息 已填写-->
		<div class="container-outter foreground" style="{%? it["Id"] <= 0%}display:none;{%?%}margin-top: 2px;">
			<div class="inner" style="border-top: 3px #decf5b double;border-bottom: 3px #decf5b double;padding-top: 0px;">
				<div class="address-info change-address" style="padding: 10px 8px;border-top: 3px #decf5b dashed;border-bottom: 3px #decf5b dashed;text-align: left;">
					<div style="width: 96%;display: inline-block;">
						<div class="container-inner" style="text-align: left;padding: 6px 0px;">
							<label style="width: auto;margin: 0px 10px 0px 0px;">
								{%= it["TrueName"] %}
							</label>
							<label style="width: auto;margin: 0px 10px 0px 0px;">
								{%= it["Mobile"] %}
							</label>
						</div>
						<div class="container-inner" style="text-align: left;padding: 6px 0px;">
							<label style="width: auto;margin: 0px 10px 0px 0px;">
								{%= it["LiveArea"] %}
							</label>
							<label style="width: auto;margin: 0px 10px 0px 0px;">
								{%= it["Address"] %}
							</label>
						</div>
					</div>
					<div style="width: 4%;display: inline-block;margin-top: 6%;vertical-align: top;">
						<label style="float: right;vertical-align: -webkit-baseline-middle;">&gt;</label>
					</div>
				</div>
			</div>
		</div>
	</script>

	<!-- 地址列表页 -->
	<div id="address-list-parent-dialog" style="display:none;">
		<div class="mask" style="z-index:2000;opacity:1;background-color: #f7f5f5;"></div>
		<div class="mask-up list-dialog-hide" style="z-index: 2100;top: 6px;margin-top: 0;">
			<div class="background" style="text-align:left;position: absolute;width: auto;max-width: none;font-size: 14px;">
				<div id="address-list" class="container-inner" style="text-align: center;"></div>
				</div>
			</div>
		</div>
	</div>
	<script id="address-list-tmp" type="text/x-dot-template">
		<div>
		{%~it :value:index%}
			<div class="container-outter foreground" style="margin-top: 2px;">
				<div class="inner" style="padding-top: 0px;">
					<div class="address-info" app-id="{%= value["Id"]%}" style="text-align: left;margin-left: 8px;">
						<div style="width: 6%;text-align: center;display: inline-block;margin: 6% 2% 0% 0%;vertical-align: top;">
							<div add-id="{%= value["Id"]%}" class="check {%? value["IsDefault"]%}appground{%?%}">
								<i class="icon-ok"></i>
							</div>
						</div>
						<div class="modify" style="width: 6%;display: inline-block;margin:6% 0% 8% 2%;float: right;">
							<i class="icon-edit"></i>
						</div>
						<div style="width: 81%;display: inline-block;float: right;">
							<label data-type="Id" style="display: none;">{%= value["Id"]%}</label>
							<div class="container-inner" style="text-align: left;padding: 6px 0px;">
								<label style="width: auto;margin: 0px 10px 0px 0px;">
									{%= value["TrueName"]%}
								</label>
								<label style="width: auto;margin: 0px 10px 0px 0px;">
									{%= value["Mobile"]%}
								</label>
							</div>
							<div class="container-inner" style="text-align: left;padding: 6px 0px;">
								<label style="width: auto;margin: 0px 10px 0px 0px;">
									{%= value["LiveArea"]%}
								</label>
								<label style="width: auto;margin: 0px 10px 0px 0px;">
									{%= value["Address"]%}
								</label>
							</div>
						</div>
					</div>
				</div>
			</div>
		{%~%}
		</div>
		<div class="container-outter foreground new-address" style="margin-top: 18px;">
			<div class="appcolor check" style="display: inline-block;line-height: 36px;font-size: 23px;vertical-align: middle;margin-right: 6px;">
				<i class="icon-plus-sign"></i>
			</div>
			<div style="display: inline-block;line-height: 36px;vertical-align: middle;">
				<span>添加一个收货地址</span>
			</div>
		</div>
	</script>

	<!-- 地址修改页 -->
	<div id="address-modify-parent-dialog" style="display:none;">
		<div class="mask"></div>
		<div class="mask-up dialog-hide">
			<div class="mask-main background" style="text-align:left;bottom:39%;">
				<div id="address-modify-dialog" class="container-inner" style="text-align: center;"></div>
				</div>
			</div>
		</div>
	</div>
	<script id="address-modify-tmp" type="text/x-dot-template">
		<div data-type="addressId" data-value="{%= it["Id"]%}"></div>
		<div data-type="uid" data-value="{%= it["MemberId"]%}"></div>
		<div class="foreground" style="line-height: 30px;">
			<div class="dialog-hide container-outter appcolor" style="width:auto;float: left;margin-left: 12px;">
				<span> << </span>
			</div>
			<div class="save-address container-outter appcolor" style="width:auto;float: right;margin-right: 9px;">
				<span> 保存 </span>
			</div>
			<div class="container-outter" style="width:auto;">
				<span> {%= it["Type"] %} </span>
			</div>
		</div>
		<div class="container-outter foreground" style="margin: 10px 0px;">
			<div class="inner">
				<div class="address-info" style="padding: 0px 8px;">
					<div class="container-inner" style="text-align: left;padding-bottom: 6px;">
						<label style="width: 18%;margin-bottom: 0px;">
							收货人
						</label>
						<input type="text" name="true_name" placeholder="请填写收货人的姓名" value="{%= it["TrueName"] %}"/>
					</div>
					<div class="container-inner" style="text-align: left;padding-bottom: 6px;">
						<label style="width: 18%;margin-bottom: 0px;">
							手机号
						</label>
						<input type="tel" name="mobile" placeholder="请填写收货人的电话" value="{%=it["Mobile"]%}"/>
					</div>
					<div class="container-inner" style="text-align: left;padding-bottom: 6px;">
						<label style="width: 18%;margin-bottom: 0px;">
							位置
						</label>
						<input name="live_area" value="{%= it["LiveArea"] %}">
					</div>
					<div class="container-inner" style="text-align: left;padding-bottom: 6px;">
						<label style="width: 18%;margin-bottom: 0px;">
							地址
						</label>
						<input name="address" value="{%= it["Address"] %}">
					</div>
				</div>
			</div>
		</div>
		{%? it["Del"] %}
			<div class="del-address container-outter foreground" style="line-height: 33px;color: red;">
				<span> 删除该地址 </span>
			</div>
		{%?%}
	</script>

	<!-- 订单部分 -->
	<div id="order-list"> </div>
	<script id="order-list-tmpl" type="text/x-dot-template">
		<!-- 配送信息 -->
		<div class="container-outter foreground" style="margin-top: 8px;">
			<div class="inner">
				<div class="delivery-info">
					<div class="container-inner" style="border-bottom: 2px solid #f7f5f5;padding: 0px 8px;">
						<label style="float: left;">配送时间</label>
						<label style="float: right;">></label>
						<select style="float: right;-webkit-appearance: none;outline: 0;width: 22%;border: none;background-color: white;">
							<option value="0">立即配送</option>
							{% for(var idx in it["shipTimeList"]) { %}
							<option value="{%= it["shipTimeList"][idx]%}">{%= it["shipTimeList"][idx]%}</option>
							{%}%}
						</select>
					</div>
					<div class="container-inner" style="text-align: left;padding:0px 8px 8px;">
						<label style="width: 18%;margin-bottom: 0px;">
							备注
						</label>
						<input type="text" placeholder="给小二说点什么" style="padding: 5px 0px 0px;border: none;border-bottom: 1px #868484 solid;border-radius: 0px;">
					</div>
				</div>
			</div>
		</div>

		<div class="container-outter foreground" style="margin-top: 10px;">
			<div class="inner">
				<div class="oreder-info">
					<div class="container-inner" style="border-bottom: 2px solid #f7f5f5;padding: 0px 8px;">
						<label style="float: left;width: 85%;text-align: left;">配送费</label>
						<label style="float: right;width: 15%;text-align: left;">￥0.0</label>
					</div>
					{% for(var idx in it["orderInfo"]["goodsList"]) { %}
					<div class="container-inner" style="padding: 0px 8px;">
						<label style="float: left;width: 75%;text-align: left;">{%= it["orderInfo"]["goodsList"][idx]["GoodsName"]%}</label>
						<label style="float: right;width: 15%;text-align: left;">￥{%= it["orderInfo"]["goodsList"][idx]["GoodsPrice"]%}</label>
						<label style="float:right;font-weight:300;width: 10%;text-align: left;">x{%= it["orderInfo"]["goodsList"][idx]["GoodsNum"]%}</label>
					</div>
					{% } %}
				</div>
			</div>
		</div> 

		<div id="bottom-navbar">
			<div class="blank blanklow"></div>
			<nav class="navbar navbar-fixed-bottom foreground" style="border:none;width: 100%;min-height: 35px;margin-bottom: -1%;">
				<div class="container-outter" style="width:110px;padding-top:3%;">
					<label style="font-size: 18px;margin-left: 8px;">合计:</label>
					<label style="color: red;font-size: 16px;font-style: oblique;font-weight: 400;font-family: STKaiti;">
						￥{%= it["orderInfo"]["order"]["OrderAmount"]%}
					</label>
				</div>
				<div class="container-outter appground" style="width: 110px;float: right;padding: 3%;">
					<div class="payOrder" style="color: white;font-size: 15px;">结算</div>
				</div>
			</nav>
		</div>
	</script>
</body>
	
	<script src="/static/js/goods-wrap.js"></script>
	<script src="/static/js/order.js?v=2"></script>
	<script type="text/javascript">
		var addressList = {};
		registerPrepareOrder();
	</script>
</html>








